<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IGSTORE</title>
</head>
<body>
    <h3>Здравствуйте!</h3>
    <p>У нас новый заказ</p>

{#    <ul>#}
{#        {% for key, value in order_fields.items %}#}
{#            <li><b>{{ key }}:</b>{{ value }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
    <hr>
    <ul>
        <li>
            <b>Имя клиента:</b> {{ order.first_name }}
            <b>Фамилия клиента:</b> {{ order.last_name }}
        </li>
        <li>
            <b>Е-мейл клиента:</b> {{ order.email }}
        </li>
        <li>
            <b>Телефон клиента:</b> {{ order.phone }}
        </li>
        <li>
            <b>Адрес клиента:</b> {{ order.address }}
        </li>
    </ul>
        <p>
            Детали заказа:
        </p>
    <ul>
        {% for product_in_order in products_in_order %}
            <li>{{ product_in_order.product.name }} {{ product_in_order.quantity }} шт.
                по {{ product_in_order.price }} ₽
            </li>
        {% endfor %}
    </ul>
</body>
</html>